doctype html
html(lang="en")
  meta( content="width=device-width, initial-scale=1.0" name="viewport")
  meta(http-equiv="Content-Type" content="text/html; charset=utf8")
  include libs.jade
  body(data-offset="50" ng-app="myApp")
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar

          a.brand(href="#") Facultad de FarmacoBiología de la UMSNH
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href="#") Timetable
          h1 Texto de prueba


    <div id="angular"  ng-controller="GetCursos"><p ng-repeat= "item in cursos">{{item.materia}}-{{item.profesor}}</p></div>
    <div id="salones" class="span12" ></div>


    include jquery.html
    p test
