doctype html
html(lang="en")
  meta( content="width=device-width, initial-scale=1.0" name="viewport")
  meta(http-equiv="Content-Type" content="text/html; charset=utf8")
  include libs.jade
  body(data-offset="50")
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar

          a.brand(href="#") Facultad de Ciencias Físico Matemáticas
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href="#") Timetable

    .container
          header.jumbotron.subhead#overview
            h1 Horarios de Clase Semestre
            p  Dudas enviarlas a emoron@gmail.com

    include jquery.html
    p test
