link(href="css/bootstrap.css" rel="stylesheet")
link(href="css/bootstrap-responsive.css" rel="stylesheet")
link(href="css/docs.css" rel="stylesheet")
link(href="css/tribal-bootstrap.css" rel="stylesheet")
link(href="css/tribal-timetable.css" rel="stylesheet")

script(type="text/javascript",src="js/libs/jquery-latest.js").
script(type="text/javascript", src="js/libs/jquery.ba-resize.js").
script(type="text/javascript", src="js/libs/bootstrap-tooltip.js").
script(type="text/javascript", src="js/libs/bootstrap-collapse.js").
script(type="text/javascript",src="js/libs/tribal.js").
script(type="text/javascript",src="js/libs/tribal-shared.js").
script(type="text/javascript",src="js/libs/tribal-timetable.js").


link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css")
<!-- Latest compiled and minified JavaScript -->
script(src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js")

<!-- Latest compiled and minified Locales -->
script(src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-zh-CN.min.js")
script(src="js/angular.js")
script(src="js/app.js")
